@import "./normalize.scss";

:root {
  --transition: 0.3s;
}

.app {
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
  width: 100%;
  max-width: 40rem;
}

.select-item {
  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  &__title {
    margin-bottom: 1.5rem;
  }
}

@import "./select.scss";
